<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="GLPDO2 Tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>